.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  gap: 50px;
}

.mask {
  width: 300px;
  height: 300px;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.star {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.heart {
  clip-path: polygon(51% 28%, 80% 10%, 100% 35%, 93% 66%, 75% 85%, 50% 100%, 26% 84%, 8% 66%, 0% 35%, 20% 10%);
}
.my {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}